$alert-success-bg:            $brand-success;
$alert-success-text:          $black;
$alert-success-border:        $brand-success;

$alert-info-bg:               $brand-info;
$alert-info-text:             $black;
$alert-info-border:           $brand-info;

$alert-warning-bg:            $brand-warning;
$alert-warning-text:          $black;
$alert-warning-border:        $brand-warning;

$alert-danger-bg:             $brand-danger;
$alert-danger-text:           $black;
$alert-danger-border:         $brand-danger;
