$white:                     #fff;
$black:                     #000;
$red:                       #fb1c41;
$orange:                    #ff6a00;
$yellow:                    #fffc00;
$green:                     #43ad49;
$green-light:               #94d500;
$blue:                      #077ab0;
$blue-dark:                 #193864;
$teal:                      #00aeff;
$pink:                      #d32d89;
$purple:                    #641d5f;

$gray-darkest:              #333232 !default;
$gray-darker:               #3f3e3e !default;
$gray-dark:                 #555757;
$gray:                      #9b9c9d;
$gray-light:                #bdbdbd;
$gray-lighter:              #ebebeb;
$gray-lightest:             #f8f8f8;

$brand-primary:             $yellow;
$brand-secondary:           $yellow !default;
$brand-success:             $yellow;
$brand-info:                $yellow;
$brand-warning:             $yellow;
$brand-danger:              $yellow;
$brand-inverse:             $gray-darker;

$body-bg:                   $black;
$wrap-bg:                   $gray-darker !default;
$body-color:                $yellow !default;
$headings-color:            $yellow;
