$alert-success-bg:            $purple-light;
$alert-success-text:          $white;
$alert-success-border:        $purple-light;

$alert-info-bg:               $purple-light;
$alert-info-text:             $white;
$alert-info-border:           $purple-light;

$alert-warning-bg:            $purple-light;
$alert-warning-text:          $white;
$alert-warning-border:        $purple-light;

$alert-danger-bg:             $purple-light;
$alert-danger-text:           $white;
$alert-danger-border:         $purple-light;
