// overlay
$mfp-overlay-color:                   rgba($black, .8);                  // Color of overlay screen
$mfp-overlay-opacity:                 1;                       // Opacity of overlay screen
$mfp-shadow:                          0;                       // Shadow on image or iframe

// spacing
$mfp-popup-padding-left:              $spacer-x-xl;              // Padding from left and from right side
$mfp-popup-padding-left-mobile:       $spacer-x-xl;              // Same as above, but is applied when width of window is less than 800px

// controls
$mfp-controls-opacity:                1;                       // Opacity of controls
$mfp-controls-color:                  $white;                  // Color of controls
$mfp-controls-border-color:           $white; 	               // Border color of controls
$mfp-inner-close-icon-color:          $white;                  // Color of close button when inside
$mfp-controls-text-color:             $white;                  // Color of preloader and "1 of X" indicator
$mfp-controls-text-color-hover:       $white;                  // Hover color of preloader and "1 of X" indicator

// Image-type options
$mfp-image-background:                $white;

// Image caption options
$mfp-caption-title-color:             $gray-darker;             // Caption title color
$mfp-caption-subtitle-color:          $gray-darker;             // Caption subtitle color
