$alert-success-bg:            $blue;
$alert-success-text:          $white;
$alert-success-border:        $blue;

$alert-info-bg:               $blue;
$alert-info-text:             $white;
$alert-info-border:           $blue;

$alert-warning-bg:            $blue;
$alert-warning-text:          $white;
$alert-warning-border:        $blue;

$alert-danger-bg:             $blue;
$alert-danger-text:           $white;
$alert-danger-border:         $blue;
